* {
  margin: 0;
  font-family: sans-serif;
  padding: 0;
  box-sizing: border-box; }

body {
  background-color: #757575; }

.main_container {
  background-color: #eeeeee;
  width: 90%;
  margin: 0 auto;
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr 1fr 150px;
  gap: 20px;
  min-height: 100vh;
  grid-template-areas: "left_column work_experience" "left_column education" "footer footer"; }

.left_column {
  grid-area: left_column;
  background-color: #fbfbfb;
  box-shadow: 1px 2px 9px #333; }
  .left_column .percent {
    margin: 10px;
    border-radius: 50px;
    box-sizing: border-box;
    background-color: #f1f1f1; }
    .left_column .percent .percent_value {
      width: 50%;
      display: inline-block;
      border-radius: 50px;
      color: white;
      padding: 2px;
      font-size: 15px;
      display: flex;
      justify-content: center;
      box-sizing: border-box;
      background-color: #009688; }
  .left_column .display-container {
    position: relative; }
    .left_column .display-container img {
      width: 100%; }
    .left_column .display-container h1 {
      position: absolute;
      bottom: 0;
      padding: 20px;
      color: white; }
  .left_column .container {
    background-color: #fbfbfb;
    color: #757575;
    font-size: 20px;
    padding: 0 30px; }
    .left_column .container p {
      margin: 20px 0; }
    .left_column .container i {
      margin: 0 10px;
      color: #009688;
      font-size: 20px; }

.work_experience {
  grid-area: work_experience;
  background-color: #fbfbfb;
  box-shadow: 1px 2px 9px #333;
  padding: 0 20px; }
  .work_experience h2 i {
    margin: 0 10px;
    color: #009688;
    font-size: 40px; }

h2 {
  padding: 20px 0px;
  font-size: 32px;
  color: #757575; }

aside {
  padding: 0 15px;
  font-size: 20px; }
  aside h1 {
    margin: 15px 0;
    color: #757575; }
  aside h6 {
    font-size: 20px; }
    aside h6 span {
      margin: 0 20px;
      color: #009688; }
    aside h6 small {
      color: white;
      padding: 10px;
      background-color: #009688; }
  aside p {
    margin: 20px 0; }

i {
  margin: 0 10px;
  color: #009688;
  font-size: 20px; }

.education {
  grid-area: education;
  background-color: #fbfbfb;
  padding: 0 20px;
  box-shadow: 1px 2px 9px #333; }
  .education h2 i {
    margin: 0 10px;
    color: #009688;
    font-size: 40px; }
  .education h2 {
    padding: 20px 0px;
    font-size: 32px;
    color: #757575; }
  .education aside {
    padding: 0 15px;
    font-size: 20px; }
    .education aside h1 {
      margin: 15px 0;
      color: #757575; }
    .education aside h6 {
      font-size: 20px; }
      .education aside h6 span {
        margin: 0 20px;
        color: #009688; }
      .education aside h6 small {
        color: white;
        padding: 10px;
        background-color: #009688; }
    .education aside p {
      margin: 20px 0; }
  .education i {
    margin: 0 10px;
    color: #009688;
    font-size: 20px; }

.footer {
  box-shadow: 1px 2px 9px #333;
  grid-area: footer;
  background-color: #009688;
  color: #fbfbfb;
  text-align: center; }
  .footer p {
    margin: 15px 0; }
  .footer i {
    color: #fbfbfb;
    margin: 15px 10px; }
  .footer i:hover {
    cursor: pointer; }
  .footer a {
    color: #fbfbfb;
    margin: 15px 0; }

@media screen and (max-width: 700px) {
  .main_container {
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    gap: 20px;
    grid-template-areas: "left_column" "work_experience" "education" "footer"; } }
