@media screen and (max-width: 600px) {
  .main_container {
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    gap: 20px;
    grid-template-areas:
      "left_column"
      "work_experience"
      "education"
      "footer";
  }
}
